<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @classroom.name %>
</p>

<p>
  <strong>Period:</strong>
  <%= @classroom.period %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @classroom.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @classroom.end_date %>
</p>

<p>
  <strong>Grade level:</strong>
  <%= @classroom.grade_level %>
</p>

<p>
  <strong>User:</strong>
  <%= @classroom.user_id %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
