<%= form_for(@assessment_type) do |f| %>
  <% if @assessment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment_type.errors.count, "error") %> prohibited this assessment_type from being saved:</h2>

      <ul>
      <% @assessment_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.number_field :name %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.number_field :section_id %>
  </div>
  <div class="field">
    <%= f.label :view %><br>
    <%= f.number_field :view %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
