<h1>Listing students</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Gender</th>
      <th>Grade level</th>
      <th>Is active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.fname %></td>
        <td><%= student.lname %></td>
        <td><%= student.gender %></td>
        <td><%= student.grade_level %></td>
        <td><%= student.is_active %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
