<%= form_for(@cohort_student) do |f| %>
  <% if @cohort_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cohort_student.errors.count, "error") %> prohibited this cohort_student from being saved:</h2>

      <ul>
      <% @cohort_student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
