<h1>Listing cohort_students</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cohort_students.each do |cohort_student| %>
      <tr>
        <td><%= cohort_student.student_id %></td>
        <td><%= cohort_student.user_id %></td>
        <td><%= link_to 'Show', cohort_student %></td>
        <td><%= link_to 'Edit', edit_cohort_student_path(cohort_student) %></td>
        <td><%= link_to 'Destroy', cohort_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cohort student', new_cohort_student_path %>
