<h1>Listing sections</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Grade level</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Subject</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.name %></td>
        <td><%= section.grade_level %></td>
        <td><%= section.start_date %></td>
        <td><%= section.end_date %></td>
        <td><%= section.subject_id %></td>
        <td><%= section.user_id %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
