<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Grade level:</strong>
  <%= @section.grade_level %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @section.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @section.end_date %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @section.subject_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @section.user_id %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
