<%= form_for(@criterion_grade) do |f| %>
  <% if @criterion_grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@criterion_grade.errors.count, "error") %> prohibited this criterion_grade from being saved:</h2>

      <ul>
      <% @criterion_grade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :criterion_id %><br>
    <%= f.number_field :criterion_id %>
  </div>
  <div class="field">
    <%= f.label :assessment_id %><br>
    <%= f.number_field :assessment_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
