<%= form_for(@class_student) do |f| %>
  <% if @class_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class_student.errors.count, "error") %> prohibited this class_student from being saved:</h2>

      <ul>
      <% @class_student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.number_field :section_id %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
