<!DOCTYPE html>
<html ng-app="pw">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Progress Workbook</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "controllers/progress-workbook", "controllers/cohortDetails", "controllers/cohortList", "controllers/sectionDetails", "controllers/sectionList", "controllers/studentDetails", "controllers/studentList", "controllers/userDetails", "controllers/userList" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
